.freemius-link {
	float: right;
}
.components-tab-panel__tabs-item {
}
.active-tab {
	border-bottom: 1px solid var(--wp-admin-theme-color);
}
.freemius-button-scope {
	margin-top: 1.5rem;
	.components-input-base {
		width: 100%;
	}
}

/* Hide the toolbar */
body.freemius-checkout-preview .block-editor-block-popover {
	display: none;
}

.freemius-button-scopes-wrap {
	max-height: 50vh;
	overflow: auto;
	overflow-x: show;
	overflow-y: auto;
	margin: 0 -5px;
	padding: 0 5px;
	padding-bottom: 1.5rem;
	grid-column: 1 / -1;
	border-top: 1px solid rgb(221, 221, 221);
	border-bottom: 1px solid rgb(221, 221, 221);
}
.freemius-button-scopes {
	grid-column: 1 / -1;
	.components-tab-panel__tabs {
		border-bottom: 1px solid rgb(221, 221, 221);
	}
	textarea.components-textarea-control__input {
		font-family: monospace;
	}
}
.components-scope-indicator {
	--freemius-button-scope-global: rgba(255, 165, 0, 0.6);
	--freemius-button-scope-page: rgba(60, 179, 113, 0.6);
	--freemius-button-scope-button: rgba(34, 139, 230, 0.6);

	display: flex;
	align-items: center;

	padding: 1em 0 0;
	svg {
		width: 48px;
		height: 48px;
		margin-right: 1rem;
	}
	p {
		margin: 0;
		font-weight: 700;
		text-wrap: balance;
	}
}
.components-scope-indicator-button {
	svg {
		fill: var(--freemius-button-scope-button);
	}
}
.components-scope-indicator-page {
	svg {
		fill: var(--freemius-button-scope-page);
	}
}
.components-scope-indicator-global {
	svg {
		fill: var(--freemius-button-scope-global);
	}
}
.freemius-button-scopes-wrap {
	outline: 3px solid var(--freemius-button-scope-button);
	outline-offset: 3px;
}
.freemius-button-scope-button {
	margin-top: 10px;

	padding-left: 0;
	padding-right: 0;
	grid-column: 1 / -1;

	.freemius-button-scopes-wrap {
		outline: 3px solid var(--freemius-button-scope-button);
		outline-offset: 3px;
	}
}
.freemius-button-scope-page {
	margin-top: 10px;

	padding-left: 0;
	padding-right: 0;
	grid-column: 1 / -1;

	.freemius-button-scopes-wrap {
		outline: 3px solid var(--freemius-button-scope-page);
		outline-offset: 3px;
	}
}
.freemius-button-scope-global {
	margin-top: 10px;

	padding-left: 0;
	padding-right: 0;
	grid-column: 1 / -1;

	.freemius-button-scopes-wrap {
		outline: 3px solid var(--freemius-button-scope-global);
		outline-offset: 3px;
	}
}
